<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="WowsTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs/yuyuko.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="1"/>
			<maximumFileSize value="5MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date [%thread] %-5level %logger - %message%newline%exception"/>
			</layout>
		</appender>

		<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
			<immediateFlush value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date [%thread] %property{detailContext} %-5level %logger - %message%newline%exception"/>
			</layout>
		</appender>

		<root>
			<level value="ALL"/>
			<appender-ref ref="DebugAppender"/>
			<appender-ref ref="RollingFileAppender"/>
		</root>
	</log4net>
 <userSettings>
  <WowsTools.Properties.Settings>
   <setting name="dataGridViewTemplate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="GameHomePath" serializeAs="String">
    <value>N/A</value>
   </setting>
  </WowsTools.Properties.Settings>
 </userSettings>
</configuration>
