<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="WowsTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs/yuyuko.log"/>
			<param name="Encoding" value="utf-8" />
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="2"/>
			<maximumFileSize value="5MB"/>
			<staticLogFileName value="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date [%thread] %-5level %logger - %message%newline%exception"/>
			</layout>
		</appender>

		<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
			<immediateFlush value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date [%thread] %property{detailContext} %-5level %logger - %message%newline%exception"/>
			</layout>
		</appender>

		<root>
			<level value="ALL"/>
			<appender-ref ref="DebugAppender"/>
			<appender-ref ref="RollingFileAppender"/>
		</root>
	</log4net>
 <userSettings>
  <WowsTools.Properties.Settings>
   <setting name="DataGridViewTemplate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="GameHomePath" serializeAs="String">
    <value>N/A</value>
   </setting>
   <setting name="GameVersionHome" serializeAs="String">
    <value>N/A</value>
   </setting>
   <setting name="GamePrBackColorSelect" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PrColor1" serializeAs="String">
    <value>ffff6e66</value>
   </setting>
   <setting name="PrColor2" serializeAs="String">
    <value>ffffae66</value>
   </setting>
   <setting name="PrColor3" serializeAs="String">
    <value>ffffc51a</value>
   </setting>
   <setting name="PrColor4" serializeAs="String">
    <value>ff58e600</value>
   </setting>
   <setting name="PrColor5" serializeAs="String">
    <value>ff4ecc00</value>
   </setting>
   <setting name="PrColor6" serializeAs="String">
    <value>ff03e3cb</value>
   </setting>
   <setting name="PrColor7" serializeAs="String">
    <value>ffda70f5</value>
   </setting>
   <setting name="PrColor8" serializeAs="String">
    <value>ffc111ee</value>
   </setting>
   <setting name="WinsColor1" serializeAs="String">
    <value>ffffae66</value>
   </setting>
   <setting name="WinsColor2" serializeAs="String">
    <value>ff03e3cb</value>
   </setting>
   <setting name="WinsColor3" serializeAs="String">
    <value>ffc111ee</value>
   </setting>
   <setting name="PrColor0" serializeAs="String">
    <value>ff63B8FF</value>
   </setting>
   <setting name="PrColorNA" serializeAs="String">
    <value>ff949e9e</value>
   </setting>
   <setting name="WinsColorValue1" serializeAs="String">
    <value>48</value>
   </setting>
   <setting name="WinsColorValue2" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="DataGridViewTemplateForeColor0" serializeAs="String">
    <value>ff000000</value>
   </setting>
   <setting name="DataGridViewTemplateForeColor1" serializeAs="String">
    <value>ffFFFFFF</value>
   </setting>
   <setting name="PrValue1" serializeAs="String">
    <value>750</value>
   </setting>
   <setting name="PrValue2" serializeAs="String">
    <value>1100</value>
   </setting>
   <setting name="PrValue3" serializeAs="String">
    <value>1350</value>
   </setting>
   <setting name="PrValue4" serializeAs="String">
    <value>1550</value>
   </setting>
   <setting name="PrValue5" serializeAs="String">
    <value>1750</value>
   </setting>
   <setting name="PrValue6" serializeAs="String">
    <value>2100</value>
   </setting>
   <setting name="PrValue7" serializeAs="String">
    <value>2450</value>
   </setting>
   <setting name="GamePvpDataLastTime" serializeAs="String">
    <value>0</value>
   </setting>
  </WowsTools.Properties.Settings>
 </userSettings>
</configuration>
